.DS_Store
.idea
npm-debug.log
/bower_components
/node_modules
/test/coverage

# The following are ignored using --assume-unchanged
# View a list of files marked "unchanged": `git ls-files -v`
# To recursively update: `git ls-files -z dist/ | xargs -0 git update-index --assume-unchanged`
# Or: `git ls-files -z dist/ | xargs -0 git update-index --no-assume-unchanged`
#
# dist/